---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card/index.astro";
import WelcomeCard from "../components/WelcomeCard.astro";
import Contact from "../components/ContactCard.astro";
import ProfessionalOverviewCard from "../components/ProfessionalOverviewCard.astro";
import AboutCard from "../components/AboutCard.astro";
import TechnicalCard from "../components/TechnicalCard.astro";
---

<script>
  import { stagger, spring, timeline, type TimelineDefinition } from "motion";
  import { loaderAnimation } from "../lib/constants";
  const cards = document.querySelectorAll(".card");

  const sequence = [
    loaderAnimation,
    [
      cards,
      { y: ["40%", "0%"], opacity: [0, 1] },
      {
        at: "-0.1",
        duration: 0.4,
        delay: stagger(0.3),
        easing: spring({ velocity: 100, stiffness: 50, damping: 10 }),
      },
    ],
  ];

  timeline(sequence as TimelineDefinition);
</script>

<Layout
  title="Zach - Software Engineer"
  description="Software engineer with strong focus on software engineering fundamentals, rust, and data science."
>
  <main
    class="text-white m-auto p-2 grid gap-2 max-w-6xl overflow-hidden relative w-full sm:p-4 sm:gap-2 md:grid-cols-4 md:gap-3 md:p-6 lg:h-screen lg:grid-rows-8 lg:grid-cols-4 lg:gap-4 lg:max-h-[800px]"
  >
    <WelcomeCard />
    <ProfessionalOverviewCard />
    <Contact />
    <AboutCard />
    <TechnicalCard />

    <Card
      colSpan="md:col-span-1"
      rowSpan="md:row-span-1"
      title="Blog"
      href="/blog"
    >
      <p class="text-sm">Rust... and data science</p>
    </Card>
    <Card
      colSpan="md:col-span-1"
      rowSpan="md:row-span-1"
      title="Contributions"
      href="/blog"
    >
      <p class="text-xs">Open Source</p>
    </Card>
  </main>
</Layout>
