---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4" title="About">
  <div class="flex flex-col gap-2">
    <p class="">
      <h6 class="text-gray-500">Favorite Languages</h6>
      <div class="grid grid-cols-2 gap-4">
        <ul class="text-sm font-light">
          <li>Rust</li>
          <li>Python</li>
        </ul>
        <ul class="text-sm font-light">
          <li>
            <a href={LINKS.rickroll} target="_blank" class="text-red-500">x86</a
            >
          </li>
          <li>Ruby</li>
        </ul>
      </div>
    </p>
    <p class="">
      <h6 class="text-gray-500">Library</h6>
      <div class="grid grid-cols-2 gap-4">
        <ul class="text-sm font-light">
          <li>Cargo Test</li>
          <li>Pytest</li>
          <li>Rspec</li>
          <li>Scikit-learn</li>
        </ul>
        <ul class="text-sm font-light">
          <li>Axum</li>
          <li>TensorFlow</li>
          <li>Pandas</li>
        </ul>
      </div>
    </p>
    <p class="text-sm font-light mt-4">Always learning new tools...📜</p>
  </div>
</Card>
