---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4" title="Languages">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      <br />
      <ul class="text-sm font-light pl-5 list-disc">
        <li><strong>Rust</strong></li>
        <li><strong>Python</strong></li>
        <li><strong>C</strong></li>
        <li><strong>Java</strong></li>
        <li><strong>x86</strong></li>
        <li><strong>Ruby</strong></li>
        <li><strong>JavaScript</strong></li>
        <li><strong>SQL</strong></li>
        <li><strong>Dart</strong></li>
      </ul>
    </p>
  </div>
</Card>
