---
import Card from "./Card/index.astro";
---

<!-- <Card colSpan="md:col-span-1" rowSpan="md:row-span-4">
  <div class="h-full"> -->
<Card colSpan="md:col-span-1" rowSpan="md:row-span-4 " title="Projects">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      <h2 class="text-gray-500">ML & Data</h2>
      <ul class="text-sm font-light pl-5 list-disc">
        <li><strong>TensorFlow</strong></li>
        <li><strong>Pandas</strong></li>
      </ul>
      <h2 class="text-gray-500">Low-level</h2>
      <ul class="text-sm font-light pl-5 list-disc">
        <li><strong>Axum</strong></li>
      </ul>
      <h2 class="text-gray-500">Test Driven</h2>
      <ul class="text-sm font-light pl-5 list-disc">
        <li><strong>Pytest</strong></li>
        <li><strong>Rspec</strong></li>
        <li><strong>Cargo Test</strong></li>
      </ul>
    </p>
    <p class="text-sm font-light mt-2">Always learning new tools...📜</p>
  </div>
</Card>
