---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4 " title="Technical">
  <div class="flex flex-col mt-2 w-fit">
    <ul>
      <li>
        <a href="" target="_blank">Dashboard</a>
      </li>
      <li>
        <a href="" target="_blank">Model</a>
      </li>
      <li>
        <a href="" target="_blank">API</a>
      </li>
      <li>
        <a href="" target="_blank">Database</a>
      </li>
      <li>
        <a href="" target="_blank">Deployment</a>
      </li>
    </ul>
  </div>
</Card>
