---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4 " title="Projects">
  <div class="flex flex-col mt-2 w-fit">
    <h2 class="text-gray-500">Modeling</h2>
    <ul>
      <li>
        <a href="" target="_blank">Dashboard</a>
      </li>
      <li>
        <a href="" target="_blank">Model</a>
      </li>
    </ul>
    <h2 class="text-gray-500 mt-2">Engineering</h2>
    <ul>
      <li><a href="" target="_blank">Parallel Rust</a></li>
      <li><a href="" target="_blank">REST API</a></li>
    </ul>
  </div>
</Card>
