---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="Projects">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      <br />
      <p><strong>Visualization:</strong></p>
      <ul class="text-sm font-light pl-5 list-disc">
        <li><strong>Streamlit Vis</strong></li>
      </ul>
      <p><strong>Systems:</strong></p>
      <ul class="text-sm font-light pl-5 list-disc">
        <li><strong>Rust thing</strong></li>
      </ul>
    </p>
  </div>
</Card>
