---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="Technical Skills">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      <br />
      <p><strong>Languages:</strong></p>
      <ul class="text-sm font-light pl-5 list-disc">
        <li><strong>Rust</strong></li>
        <li><strong>Python</strong></li>
        <li><strong>C</strong></li>
        <li><strong>Java</strong></li>
        <li><strong>x86</strong></li>
        <li><strong>Ruby</strong></li>
        <li><strong>JavaScript</strong></li>
        <li><strong>SQL</strong></li>
        <li><strong>Dart</strong></li>
      </ul>
      <p><strong>Tools:</strong></p>
      <ul class="text-sm font-light pl-5 list-disc">
        <li><strong>TensorFlow</strong></li>
        <li><strong>Pandas</strong></li>
        <li><strong>Pytest</strong></li>
        <li><strong>Axum</strong></li>
        <li><strong>Rspec</strong></li>
        <li><strong>React</strong></li>
      </ul>
    </p>
    <p class="text-sm font-light">
      I'm always open to learning new tools if they are the right ones for the
      job.
    </p>
  </div>
</Card>
