---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4" title="Technical">
  <div class="flex flex-col gap-2">
    <p class="">
      <h6 class="text-sm font-light m-0 text-gray-500">Language</h6>
      <div class="grid grid-cols-2 gap-4">
        <ul class="text-sm font-light pl-5 list-disc">
          <li><strong>Rust</strong></li>
          <li><strong>Python</strong></li>
          <li><strong>C</strong></li>
          <li><strong>Java</strong></li>
        </ul>
        <ul class="text-sm font-light pl-5 list-disc">
          <li>
            <a href={LINKS.rickroll} target="_blank" class="text-red-500">x86</a
            >
          </li>
          <li><strong>Ruby</strong></li>
          <li><strong>SQL</strong></li>
          <li><strong>Dart</strong></li>
        </ul>
      </div>
    </p>
    <p class="">
      <h6 class="text-sm font-light m-0 text-gray-500">Library</h6>
      <div class="grid grid-cols-2 gap-4">
        <ul class="text-sm font-light pl-5 list-disc">
          <li><strong>Cargo Test</strong></li>
          <li><strong>Pytest</strong></li>
          <li><strong>Rspec</strong></li>
          <li><strong>SciKitLearn</strong></li>
        </ul>
        <ul class="text-sm font-light pl-5 list-disc">
          <li><strong>Axum</strong></li>
          <li><strong>TensorFlow</strong></li>
          <li><strong>Pandas</strong></li>
        </ul>
      </div>
    </p>
    <p class="text-sm font-light mt-4">Always learning new tools...📜</p>
  </div>
</Card>
