---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4" title="Tools">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      <br />
      <ul class="text-sm font-light pl-5 list-disc">
        <li><strong>TensorFlow</strong></li>
        <li><strong>Pandas</strong></li>
        <li><strong>Pytest</strong></li>
        <li><strong>Axum</strong></li>
        <li><strong>Rspec</strong></li>
        <li><strong>React</strong></li>
      </ul>
    </p>
    <br />
    <p class="text-sm font-light">Always learning new tools...</p>
  </div>
</Card>
